/* General Reset and Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

/* Header Styling */
header {
    background-color: #282c34;
    padding: 20px 0;
    text-align: center;
}

.title {
    font-size: 3em;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-transform: uppercase;
}

/* Container for the Form */
.container {
    text-align: center;
    margin: 40px 0;
    color: #fff;
    padding: 0 20px; /* Padding to ensure it looks good on smaller screens */
}

label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f57c00;
}

/* Image Container */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

/* Responsive Image Styling */
.content-image {
    width: 100%; /* Make image responsive */
    max-width: 210mm; /* A4 width */
    height: auto; /* Maintain aspect ratio */
    margin: 10px 0; /* Space between images */
}

/* Responsive Title */
@media (max-width: 768px) {
    .title {
        font-size: 2.5em; /* Adjust title size for tablets */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2em; /* Adjust title size for mobile devices */
        letter-spacing: 2px; /* Reduce spacing for smaller screens */
    }
}
