<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Access</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>THARANGAM 2024</h1>
    <img src="{{ url_for('static', filename='Onam_bg.jpeg') }}" alt="Onam Background" class="background-image">
    <div class="container">
        <form action="/access" method="post">
            <label for="password">Please enter your transaction ID to get your Onasadhya Coupon:</label>
            <input type="text" id="password" name="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
